body {
    margin: 0;
    padding: 0;
}
img {
    width: 20%;
}
p{
    margin-top: 0;
}
.TEST2{
    text-align: center;
}
.TEST3 {
    display: flex;
    justify-content: center;
    }
.test3 {
    width: 25%;
    margin-left: 2%;
    text-align: center;
}
.flex {
    width: 100%;
}
.TEST4 {
    display: flex;
    justify-content: flex-end;
}
.TEST5 {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
}